%h1= @representative.name

%table.table
  %tr
    %th First Name
    %th Last Name
    %th Email
    %th Phone
  %tr
    %td= @representative.first_name
    %td= @representative.last_name
    %td= @representative.email
    %td= @representative.phone
