%h1= @contact.name

%table.table
  %tr
    %th First Name
    %th Last Name
    %th Job
    %th Email
    %th Phone
    %th Fax
  %tr
    %td= @contact.first_name
    %td= @contact.last_name
    %td= @contact.job
    %td= @contact.email
    %td= @contact.phone
    %td= @contact.fax
